<ion-content [fullscreen]="true" class="login-content">
  <div class="top-background">
    <div class="header">
      <ion-button fill="clear" color="dark" class="back-button" (click)="goToLogin()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Volver
      </ion-button>
    </div>
  </div>

  <div class="bottom-card">
    <div class="titles">
      <h2>Recuperar Contraseña</h2>
      <p>Ingresa tu correo electrónico y te enviaremos un enlace seguro para restablecer tu contraseña.</p>
    </div>

    <form (ngSubmit)="onSubmit()" #forgotForm="ngForm" autocomplete="off" class="form-container">
      <div class="input-group" style="margin-bottom: 30px;">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            name="email"
            placeholder="Ingresa tu correo"
            required>
          </ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" type="submit" class="main-btn" [disabled]="isLoading">
        {{ isLoading ? 'Enviando...' : 'Enviar enlace de recuperación' }}
      </ion-button>

      <div class="footer-text">
        <p>¿Recordaste tu contraseña? <span class="register-link" (click)="goToLogin()">Inicia sesión</span></p>
      </div>
    </form>
  </div>
</ion-content>
