<ion-content [fullscreen]="true" class="login-content">
  <div class="top-background">
    <div class="header">
      <ion-button fill="clear" color="dark" class="back-button" (click)="goToWelcome()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Volver
      </ion-button>
    </div>
  </div>

  <div class="bottom-card">
    <div class="titles">
      <h2>Crea tu cuenta</h2>
      <p>Estamos aquí para ayudarte a fortalecer tu relación.<br>¿Estás listo(a)?</p>
    </div>

    <div class="form-container">
      <div class="input-group">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            type="text" 
            [(ngModel)]="fullName" 
            name="fullName"
            placeholder="Nombre completo"
            required>
          </ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            name="email"
            placeholder="Ingresa tu correo"
            required>
          </ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            [type]="showPassword ? 'text' : 'password'" 
            [(ngModel)]="password" 
            name="password"
            placeholder="Contraseña"
            required minlength="6"
            style="flex: 1;">
          </ion-input>
          <ion-button fill="clear" slot="end" (click)="togglePassword()" style="--padding-start: 0; --padding-end: 0; margin: 0; height: 100%; display: flex; align-items: center;">
            <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" class="eye-icon" style="margin: 0; font-size: 24px; color: #999;"></ion-icon>
          </ion-button>
        </ion-item>
      </div>

      <div class="input-group" style="margin-bottom: 30px;">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            type="text" 
            inputmode="numeric" 
            [value]="formattedDate" 
            (ionInput)="onDateInput($event)" 
            name="birthDate"
            placeholder="Fecha de nacimiento (DD / MM / AAAA)"
            required>
          </ion-input>
          <ion-icon name="calendar-outline" slot="end" class="eye-icon"></ion-icon>
        </ion-item>
      </div>

      <ion-button expand="block" (click)="onRegister()" class="main-btn">
        Comenzar
      </ion-button>



      <div class="footer-text">
        <p>¿Ya tienes una cuenta? <span class="register-link" (click)="goToLogin()">Inicia sesión</span></p>
      </div>
    </div>
  </div>
</ion-content>