:host {
  --ion-background-color: #F8F8F8;
}

ion-content {
  --background: #F8F8F8;
}

.profile-container {
  padding: 20px 16px;
}

.user-info-section {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;

  .avatar-circle {
    ion-icon {
      font-size: 100px;
      color: #B0232A; // Rojo AffiniScore
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 4px;
    color: #1a1a1a;
  }

  p {
    font-size: 14px;
    color: #8E8E93;
    margin: 0;
  }
}

.menu-list {
  background: transparent;
  margin-bottom: 22px;

  .section-title-item {
    --background: transparent;
    margin-bottom: 10px;

    ion-icon {
      color: #B0232A;
      margin-right: 10px;
    }

    ion-label {
      font-weight: 700;
      color: #1a1a1a;
    }
  }

  .menu-item {
    --background: white;
    margin-bottom: 10px;
    border-radius: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
    --inner-padding-end: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);

    ion-icon[slot="start"] {
      color: #B0232A;
      margin-right: 16px;
    }

    ion-icon[slot="end"] {
      font-size: 18px;
      color: #C7C7CC;
    }

    ion-label {
      font-weight: 600;
      color: #1a1a1a;

      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 700;
      }

      p {
        margin: 4px 0 0;
        font-size: 12px;
        color: #8E8E93;
      }
    }

    ion-toggle {
      padding-left: 10px;
      --track-background-checked: #B0232A;
    }
  }
}

.notification-actions {
  margin-top: 6px;
  margin-bottom: 24px;

  ion-button {
    margin-top: 10px;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 0;
  }
}

.logout-btn {
  margin-top: 8px;
  --color: #B0232A;
  font-weight: 700;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
}

ion-toolbar {
  --background: #ffffff;
  --border-style: none;
}

ion-back-button {
  --color: #B0232A; // El rojo de tu marca
  font-weight: 600;
}