<ion-content [fullscreen]="true">
  <div class="login-container">
    
    <div class="header">
      <ion-icon name="heart"></ion-icon>
      <h1>AffiniScore</h1>
    </div>

    <div class="logo-central">
      <img src="/assets/images/logo_circular.png" alt="Logo">
    </div>

    <div class="titles">
      <h2>AffiniScore</h2>
      <p>Puntos para tu relación <span class="dot">•</span> Creciendo Juntos</p>
    </div>

    <ion-card class="login-card">
      <div class="input-group">
        <ion-label class="custom-label">CORREO ELECTRÓNICO</ion-label>
        <ion-item lines="none" class="custom-item">
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            placeholder="tu@email.com">
          </ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <ion-label class="custom-label">CONTRASEÑA</ion-label>
        <ion-item lines="none" class="custom-item">
          <ion-input 
            type="password" 
            [(ngModel)]="password" 
            placeholder="••••••••">
          </ion-input>
          <ion-icon name="eye-outline" slot="end" class="eye-icon"></ion-icon>
        </ion-item>
      </div>

      <div class="forgot-container">
        <ion-button fill="clear" class="forgot-btn">
          ¿Olvidaste tu contraseña?
        </ion-button>
      </div>

      <ion-button expand="block" class="main-btn" (click)="onLogin()">
        Iniciar Sesión
      </ion-button>
    </ion-card>

    <div class="divider">
      <span>O continuar con</span>
    </div>

    <div class="social-row">
      <div class="social-btn">
        <img src="assets/images/google_icon.png"> Google
      </div>
      <div class="social-btn">
        <img src="assets/images/apple_icon.png"> Apple
      </div>
    </div>

    <div class="footer-text">
      <p>¿Aún no tienes una cuenta? 
        <span class="register-link" (click)="goToRegister()">Regístrate</span> 
        y vincula a tu pareja
      </p>
    </div>

  </div>
</ion-content>