<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios" class="app-tab-bar">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <span class="tab-icon">
        <ion-icon class="icon-outline" src="assets/icons/hero/outline/home.svg"></ion-icon>
        <ion-icon class="icon-solid" src="assets/icons/hero/solid/home.svg"></ion-icon>
      </span>
      <ion-label>INICIO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="actions" href="/tabs/actions">
      <span class="tab-icon">
        <ion-icon class="icon-outline" src="assets/icons/hero/outline/bolt.svg"></ion-icon>
        <ion-icon class="icon-solid" src="assets/icons/hero/solid/bolt.svg"></ion-icon>
      </span>
      <ion-label>ACCIONES</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" href="/tabs/chat">
      <span class="tab-icon">
        <ion-icon class="icon-outline" src="assets/icons/hero/outline/chat-bubble-left-right.svg"></ion-icon>
        <ion-icon class="icon-solid" src="assets/icons/hero/solid/chat-bubble-left-right.svg"></ion-icon>
      </span>
      <ion-label>CHAT</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa" href="/tabs/mapa">
      <span class="tab-icon">
        <ion-icon class="icon-outline" src="assets/icons/hero/outline/map.svg"></ion-icon>
        <ion-icon class="icon-solid" src="assets/icons/hero/solid/map.svg"></ion-icon>
      </span>
      <ion-label>MAPA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="retos" href="/tabs/retos">
      <span class="tab-icon">
        <ion-icon class="icon-outline" src="assets/icons/hero/outline/trophy.svg"></ion-icon>
        <ion-icon class="icon-solid" src="assets/icons/hero/solid/trophy.svg"></ion-icon>
      </span>
      <ion-label>RETOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <span class="tab-icon">
        <ion-icon class="icon-outline" src="assets/icons/hero/outline/user.svg"></ion-icon>
        <ion-icon class="icon-solid" src="assets/icons/hero/solid/user.svg"></ion-icon>
      </span>
      <ion-label>PERFIL</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>