<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" class="main-header-toolbar">
    <div class="header-content-wrapper">
      <div class="brand-group">
        <ion-avatar class="user-avatar-top">
          <img src="assets/images/user.png" alt="User" />
        </ion-avatar>
        <h1 class="brand-title-gradient">AffiniScore</h1>
      </div>
      <ion-buttons slot="end">
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Proximamente: tu coach de pareja personalizado.</p>
</ion-content>
