<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" class="catalog-header" style="--background: #F5F3F3 !important;">
    <div class="header-content-wrapper">
      <ion-button fill="clear" routerLink="/actions" routerDirection="back" class="back-circle-btn">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <!-- Div personalizado para evitar el truncamiento automático de ion-title en Ionic -->
      <div class="custom-toolbar-title">Catálogo de Acciones de Servicio</div>
      <div style="width: 38px;"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="catalog-bg" [fullscreen]="true">
  <div class="search-scroll-container">
    <ion-searchbar 
      mode="ios"
      placeholder="¿Qué hiciste hoy?" 
      (ionInput)="onSearchChange($event)" 
      [debounce]="200"
      show-clear-button="always"
      class="custom-search">
    </ion-searchbar>
  </div>
  <div class="catalog-list">
    <div class="action-item" *ngFor="let item of filteredActions" (click)="registerAction(item)">
      <div class="icon-box">
        <span class="emoji-icon" style="font-size: 24px;">{{ item.subcategory | emoji }}</span>
      </div>
      <div class="info">
        <h3>{{ item.name }}</h3>
        <p class="category-text">{{ (item.subcategory === 'CUSTOM' ? item.category : (item.subcategory || item.category)) | titlecase }}</p>
        <p class="desc-text" *ngIf="item.description">{{ item.description }}</p>
      </div>
      <div class="points-tag">+{{ item.default_points }}</div>
    </div>

    <div *ngIf="filteredActions.length === 0" class="no-results">
      <ion-icon src="/assets/icons/hero/outline/magnifying-glass.svg"></ion-icon>
      <p>No pillamos ese servicio. ¡Prueba con otro!</p>
    </div>
  </div>
</ion-content>