<ion-content [fullscreen]="true" class="login-content">
  <div class="top-background">
    <div class="header">
      <ion-button fill="clear" color="dark" class="back-button" (click)="goToWelcome()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Volver
      </ion-button>
    </div>
  </div>

  <div class="bottom-card">
    <div class="titles">
      <h2>Bienvenido de nuevo</h2>
      <p>¿Listo para continuar fortaleciendo tu relación?<br>Tu camino comienza aquí.</p>
    </div>

    <div class="form-container">
      <div class="input-group">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            placeholder="Ingresa tu correo">
          </ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            [type]="showPassword ? 'text' : 'password'" 
            [(ngModel)]="password" 
            placeholder="Contraseña">
          </ion-input>
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" class="eye-icon" (click)="togglePassword()"></ion-icon>

        </ion-item>
      </div>

      <div class="options-row">
        <div class="forgot-pwd" (click)="forgotPassword()" style="cursor: pointer;">
          <span>¿Olvidaste tu contraseña?</span>
        </div>
      </div>

      <ion-button expand="block" class="main-btn" (click)="onLogin()">
        Iniciar Sesión
      </ion-button>

      <div class="divider">
        <span>Ingresar con</span>
      </div>

      <div class="social-row">
        <div class="social-icon fb" (click)="loginWithProvider('facebook')" style="cursor: pointer;">
          <ion-icon name="logo-facebook"></ion-icon>
        </div>
        <div class="social-icon google" (click)="loginWithProvider('google')" style="cursor: pointer;">
          <img src="assets/images/google_icon.png" alt="Google">
        </div>
        <div class="social-icon apple" (click)="loginWithProvider('apple')" style="cursor: pointer;">
          <ion-icon name="logo-apple"></ion-icon>
        </div>
      </div>

      <div class="footer-text">
        <p>¿No tienes una cuenta? <span class="register-link" (click)="goToRegister()">Regístrate</span></p>
      </div>
    </div>
  </div>
</ion-content>