<ion-content [fullscreen]="true" class="login-content">
  <div class="top-background">
    <div class="header">
      <ion-button fill="clear" color="dark" class="back-button" (click)="goToWelcome()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Volver
      </ion-button>
    </div>
  </div>

  <div class="bottom-card">
    <div class="titles">
      <h2>Crea tu cuenta</h2>
      <p>Estamos aquí para ayudarte a fortalecer tu relación.<br>¿Estás listo(a)?</p>
    </div>

    <form (ngSubmit)="onRegister()" #registerForm="ngForm" autocomplete="off" class="form-container">
      <div class="input-group">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            type="text" 
            [(ngModel)]="fullName" 
            name="fullName"
            placeholder="Nombre completo"
            required>
          </ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            name="email"
            placeholder="Ingresa tu correo"
            required>
          </ion-input>
        </ion-item>
      </div>

      <div class="input-group">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            [type]="showPassword ? 'text' : 'password'" 
            [(ngModel)]="password" 
            name="password"
            placeholder="Contraseña"
            required minlength="6">
          </ion-input>
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" class="eye-icon" (click)="togglePassword()"></ion-icon>
        </ion-item>
      </div>

      <div class="input-group" style="margin-bottom: 30px;">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            type="text" 
            inputmode="numeric" 
            [value]="formattedDate" 
            (ionInput)="onDateInput($event)" 
            name="birthDate"
            placeholder="Fecha de nacimiento (DD / MM / AAAA)"
            required>
          </ion-input>
          <ion-icon name="calendar-outline" slot="end" class="eye-icon"></ion-icon>
        </ion-item>
      </div>

      <ion-button expand="block" type="submit" class="main-btn">
        Comenzar
      </ion-button>

      <div class="divider">
        <span>Regístrate con</span>
      </div>

      <div class="social-row">
        <div class="social-icon fb">
          <ion-icon name="logo-facebook"></ion-icon>
        </div>
        <div class="social-icon google">
          <img src="assets/images/google_icon.png" alt="Google">
        </div>
        <div class="social-icon apple">
          <ion-icon name="logo-apple"></ion-icon>
        </div>
      </div>

      <div class="footer-text">
        <p>¿Ya tienes una cuenta? <span class="register-link" (click)="goToLogin()">Inicia sesión</span></p>
      </div>
    </form>
  </div>
</ion-content>