<ion-content [fullscreen]="true" class="login-content">
  <div class="top-background">
    <div class="header">
      <ion-button fill="clear" color="dark" class="back-button" (click)="goToLogin()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Volver
      </ion-button>
    </div>
  </div>

  <div class="bottom-card">
    <div class="titles">
      <h2>Nueva Contraseña</h2>
      <p>Crea una contraseña segura de al menos 6 caracteres para proteger tu cuenta y tu conexión.</p>
    </div>

    <form (ngSubmit)="onSubmit()" #resetForm="ngForm" autocomplete="off" class="form-container">
      <div class="input-group">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            [type]="showPassword ? 'text' : 'password'" 
            [(ngModel)]="password" 
            name="password"
            placeholder="Nueva contraseña"
            required>
          </ion-input>
          <ion-icon 
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" 
            slot="end" 
            class="eye-icon" 
            (click)="togglePassword()">
          </ion-icon>
        </ion-item>
      </div>

      <div class="input-group" style="margin-bottom: 30px;">
        <ion-item lines="none" class="custom-input-item">
          <ion-input 
            [type]="showConfirmPassword ? 'text' : 'password'" 
            [(ngModel)]="confirmPassword" 
            name="confirmPassword"
            placeholder="Confirmar nueva contraseña"
            required>
          </ion-input>
          <ion-icon 
            [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'" 
            slot="end" 
            class="eye-icon" 
            (click)="toggleConfirmPassword()">
          </ion-icon>
        </ion-item>
      </div>

      <ion-button expand="block" type="submit" class="main-btn" [disabled]="isLoading">
        {{ isLoading ? 'Guardando...' : 'Restablecer contraseña' }}
      </ion-button>

      <div class="footer-text">
        <p>¿Recordaste tu contraseña? <span class="register-link" (click)="goToLogin()">Inicia sesión</span></p>
      </div>
    </form>
  </div>
</ion-content>
